{%- import 'macros.jinja' as macros %}
apiVersion: bigtable.cnrm.cloud.google.com/v1beta1
kind: BigtableTable
metadata:
{%- set properties = resource.get('properties', {}) %}
{%- if 'project' in properties %}
  annotations:
    cnrm.cloud.google.com/project-id: {{ properties['project'] | arbitrary_reference }}
{%- endif %}
{{- macros.fields(properties, {'labels': 'labels'}, ' ' * 2) }}
{%- if 'tableId' in properties %}
  name: {{ properties['tableId'] | arbitrary_reference }}
{%- else %}
  name: {{ resource['name'] }}
{%- endif %}
spec:
{{- macros.fields(properties, {
  'parent': 'instanceRef',
}, ' ' * 2) }}
{%- if 'table' in properties %}
  {%- set table = properties['table'] %}
  {%- if 'columnFamilies' in table %}
  columnFamily:
    {%- for column_family in table['columnFamilies'] %}
  - family: {{ column_family }}
    {%- endfor %}
  {%- endif %}
{%- endif %}
{%- set unconvertable = properties | missing_fields((
  'granularity',
)) %}
{%- if unconvertable %}
# Unconvertable fields found:
{{ unconvertable | join('\n# ') }}
{%- endif %}
