{%- import 'macros.jinja' as macros %}
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeNetwork
metadata:
{%- set properties = resource.get('properties', {}) %}
{{- macros.fields(properties, {'labels': 'labels'}, ' ' * 2) }}
{%- if 'name' in properties %}
  name: {{ properties['name'] | arbitrary_reference }}
{%- else %}
  name: {{ resource['name'] | arbitrary_reference }}
{%- endif %}
{%- if properties | set_difference(['labels', 'name', 'project']) %}
{# At least one field of properties was not converted to metadata and will be converted to spec. #}
spec:
  {{- macros.fields(properties, {
    'autoCreateSubnetworks': 'autoCreateSubnetworks',
    'description': 'description',
    'mtu': 'mtu',
  }, ' ' * 2) }}
  {%- if 'routingConfig' in properties %}
    {{- macros.fields(properties['routingConfig'], {'routingMode': 'routingMode'}, ' ' * 2) }}
  {%- endif %}
{%- endif %}
{%- set unconvertable = properties | missing_fields((
  'IPv4Range',
)) %}
{%- if unconvertable %}
# Unconvertable fields found:
{{ unconvertable | join('\n# ') }}
{%- endif %}
