{%- import 'macros.jinja' as macros %}
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeResourcePolicy
metadata:
{%- set properties = resource.get('properties', {}) %}
{{- macros.fields(properties, {'labels': 'labels'}, ' ' * 2) }}
{%- if 'name' in properties %}
  name: {{ properties['name'] | arbitrary_reference }}
{%- else %}
  name: {{ resource['name'] | arbitrary_reference }}
{%- endif %}
{%- if properties | set_difference(['name', 'labels', 'project']) %}
{# At least one field of properties was not converted to metadata and will be converted to spec. #}
spec:
  {{- macros.fields(properties, {
    'groupPlacementPolicy': 'groupPlacementPolicy',
    'region': 'region',
    'description': 'description',
  }, ' ' * 2) }}
  {%- if 'snapshotSchedulePolicy' in properties %}
    {%- set snapshot_schedule_policy = properties['snapshotSchedulePolicy'] %}
  snapshotSchedulePolicy:
    {{- macros.fields(snapshot_schedule_policy, {
      'retentionPolicy': 'retentionPolicy',
      'schedule': 'schedule',
    }, ' ' * 4) }}
    {%- if 'snapshotProperties' in snapshot_schedule_policy %}
      {%- set snapshot_properties = snapshot_schedule_policy['snapshotProperties'] %}
    snapshotProperties:
      {{- macros.fields(snapshot_properties, {
        'guestFlush': 'guestFlush',
        'labels': 'labels',
        'storageLocations': 'storageLocations',
      }, ' ' * 6) }}
    {%- endif %}
  {%- endif %}
{%- endif %}
{%- set unconvertable = properties | missing_fields((
  'snapshotSchedulePolicy.snapshotProperties.chainName',
)) %}
{%- if unconvertable %}
# Unconvertable fields found:
{{ unconvertable | join('\n# ') }}
{%- endif %}
