{%- import 'macros.jinja' as macros %}
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeTargetHTTPSProxy
metadata:
{%- set properties = resource.get('properties', {}) %}
{{- macros.fields(properties, {'labels': 'labels'}, ' ' * 2) }}
{%- if 'name' in properties %}
  name: {{ properties['name'] | arbitrary_reference }}
{%- else %}
  name: {{ resource['name'] | arbitrary_reference }}
{%- endif %}
{%- if properties | set_difference(['name', 'labels', 'project']) %}
{# At least one field of properties was not converted to metadata and will be converted to spec. #}
spec:
  {{- macros.fields(properties, {
    'description': 'description',
    'quicOverride': 'quicOverride',
    'sslPolicy': 'sslPolicyRef',
    'urlMap': 'urlMapRef',
  }, ' ' * 2) }}
  {%- if 'region' in properties %}
  location: {{ properties['region'] }}
  {%- else %}
  location: global
  {%- endif %}
  {%- if 'sslCertificates' in properties %}
  sslCertificates:
    {%- for ssl_certificate in properties['sslCertificates'] %}
  - {{ ssl_certificate | typed_reference }}
    {%- endfor %}
  {%- endif %}
{%- endif %}
{%- set unconvertable = properties | missing_fields((
  'proxyBind',
  'serverTlsPolicy',
  'authorizationPolicy',
)) %}
{%- if unconvertable %}
# Unconvertable fields found:
{{ unconvertable | join('\n# ') }}
{%- endif %}
