{%- import 'macros.jinja' as macros %}
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeNetworkEndpointGroup
metadata:
{%- set properties = resource.get('properties', {}) %}
{{- macros.fields(properties, {'labels': 'labels'}, ' ' * 2) }}
{%- if 'name' in properties %}
  name: {{ properties['name'] | arbitrary_reference }}
{%- else %}
  name: {{ resource['name'] | arbitrary_reference }}
{%- endif %}
{%- if properties | set_difference(['name', 'labels', 'project']) %}
{# At least one field of properties was not converted to metadata and will be converted to spec. #}
spec:
  {{- macros.fields(properties, {
    'defaultPort': 'defaultPort',
    'description': 'description',
    'networkEndpointType': 'networkEndpointType',
    'network': 'networkRef',
    'subnetwork': 'subnetworkRef',
  }, ' ' * 2) }}
  {%- if 'zone' in properties %}
  location: {{ properties['zone'] }}
  {%- elif 'region' in properties %}
  location: {{ properties['region'] }}
  {%- endif %}
{%- endif %}
{%- set unconvertable = properties | missing_fields((
  'cloudFunction',
  'annotations',
  'cloudRun',
  'appEngine',
)) %}
{%- if unconvertable %}
# Unconvertable fields found:
{{ unconvertable | join('\n# ') }}
{%- endif %}
