{%- import 'macros.jinja' as macros %}
apiVersion: iam.cnrm.cloud.google.com/v1beta1
kind: IAMServiceAccountKey
metadata:
{%- set properties = resource.get('properties', {}) %}
{{- macros.fields(properties, {'labels': 'labels'}) }}
{%- if 'name' in properties %}
  name: {{ properties['name'] | arbitrary_reference }}
{%- else %}
  name: {{ resource['name'] | arbitrary_reference }}
{%- endif %}
{%- if properties | set_difference(['name', 'labels']) %}
{# At least one field of properties was not converted to metadata and will be converted to spec. #}
spec:
  {{- macros.fields(properties, {
    'keyAlgorithm': 'keyAlgorithm',
    'privateKeyType': 'privateKeyType',
    'publicKeyData': 'publicKeyData',
    'publicKeyType': 'publicKeyType',
    'parent': 'serviceAccountRef'
  }, ' ' * 2) }}
{%- endif %}
# DM fields not present in KCC: keyOrigin keyType privateKeyData publicKeyData validAfterTime validBeforeTime
