apiVersion: storage.cnrm.cloud.google.com/v1beta1
kind: StorageDefaultObjectAccessControl
metadata:
{%- if resource['properties']['labels'] is defined %}
  labels: {{ resource['properties']['labels'] }}
{%- endif %}
{%- if resource['properties']['name'] is defined %}
  name: {{ resource['properties']['name'] }}
{%- else %}
  name: {{ resource['name'] }}
{%- endif %}
spec:
{%- if resource['properties']['bucket'] is defined %}
  bucketRef:
    name: {{ resource['properties']['bucket'] }}
{%- endif %}
{%- if resource['properties']['entity'] is defined %}
  entity: {{ resource['properties']['entity'] }}
{%- endif %}
{%- if resource['properties']['role'] is defined %}
  role: {{ resource['properties']['role'] }}
{%- endif %}
