{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
data "google_sql_database_instance" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.fields(properties, {
    'project': 'project',
    'instance': 'name',
  }, ' ' * 2) }}
  {{- macros.format_dependencies(resource) | indent(2) }}
}
