{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
#tfimport-terraform import google_project.{{ macros.get_name(resource, properties) }}  {{ properties['projectId'] }}
resource "google_project" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.write_provider() }}
  {{- macros.write_labels(properties) }}
  name = "{{ properties['name'].split('/')[-1] }}"
  {{- macros.fields(properties, {
    'projectId': 'project_id',
    'skipDelete': 'skip_delete',
    'deletionPolicy': 'deletion_policy',
    'autoCreateNetwork': 'auto_create_network',
  }, ' ' * 2) }}
  {%- if 'parent' in properties and 'type' in properties['parent'] %}
    {%- set type_val = properties['parent']['type'] %}
    {%- set obj_id = properties['parent']['id'] %}
    {%- if type_val == 'organization' %}
  org_id = "{{ obj_id }}"
    {%- elif type_val == 'folder' %}
  folder_id = "{{ obj_id }}"
    {%- endif %}
  {%- endif %}

  {%- if 'billingAccountName' in properties %}
  {%- set billing_val = properties['billingAccountName'] %}
  billing_account = "{{ billing_val.split('/')[-1] }}"
  {%- endif %}

  {{- macros.format_dependencies(resource) | indent(2) }}
}

{#-
1. [TF] skip_delete/auto_create_network - not found in DM
#}
