{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
{%- set resource_name = resource.get('name') -%}
#tfimport-terraform import google_filestore_instance.{{ macros.get_name(resource, properties) }}  {{macros.import_project(properties['project'])}}/{{properties['region']}}/{{ resource_name }}
resource "google_filestore_instance" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.write_provider() }}
  {{- macros.write_labels(properties) }}
  name = "{{ resource_name }}"
  {{- macros.fields(properties, {
    'tier': 'tier',
    'zone': 'zone',
    'project': 'project',
    'location': 'location',
    'kmsKeyName': 'kms_key_name',
    'description': 'description',
  }, ' ' * 2) }}

  {{- macros.lists(properties, {
    'networks': {
      'list_name': 'networks',
      'network': 'network',
      'modes': 'modes',
    }
  }, ' ' * 2) }}

  {{- macros.lists(properties, {
    'fileShares': {
      'list_name': 'file_shares',
      'name': 'name',
      'capacityGb': 'capacity_gb',
    }
  }, ' ' * 2) }}
  {{- macros.format_dependencies(resource) | indent(2) }}
}
