{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
{%- set resource_name = resource.get('name') -%}
#tfimport-terraform import google_bigtable_table.{{ macros.get_name(resource, properties) }}  __project__/{{- resource_name }}
resource "google_bigtable_table" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.write_provider() }}
  name = "{{- resource_name }}"
  {{- macros.fields(properties, {
    'parent': "instance_name",
    'splitKeys': 'split_keys',
    'project': 'project',
    'deletionProtection': 'deletion_protection',
    'changeStreamRetention': 'change_stream_retention',
  }, ' ' * 2) }}
  {{- macros.format_dependencies(resource) | indent(2) }}
}
