{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
{%- set resource_name = resource.get('name') -%}
resource "google_monitoring_uptime_check_config" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.write_provider() }}
  {{- macros.write_labels(properties) }}
  {{- macros.fields(properties, {
    'description': 'description',
    'location': 'location',
    'displayName': 'display_name',
    'timeout': 'timeout',
    'userLabels': 'user_labels',
    'selectedRegions': 'selected_regions',
    'project': 'project',
    'period': 'period',
    'checkerType': 'checker_type',
  }, ' ' * 2) }}
  {%- if 'contentMatchers' in properties %}
  content_matchers{
    content = "{{properties.contentMatchers.content}}"
    matcher = "{{properties.contentMatchers.matcher}}"
  }
  {%- endif %}
  {%- if 'httpCheck' in properties %}
  http_check{
    path = "{{properties.httpCheck.path}}"
    port = "{{properties.httpCheck.port}}"
    request_method = "{{properties.httpCheck.requestMethod}}"
    content_type = "{{properties.httpCheck.contentType}}"
    custom_content_type = "{{properties.httpCheck.customContentType}}"
    body = "{{properties.httpCheck.body}}"
    {%- if 'pingConfig' in properties.httpCheck %}
    ping_config {
      pings_count = "{{properties.httpCheck.pingConfig.pingCount}}"
    }
    {%- endif %}
  }
  {%- if 'monitoredResource' in properties %}
  monitored_resource {
    type = "{{properties.monitoredResource.type}}"
    {%- if 'labels' in properties.monitoredResource %}
    labels = {
      {%- for key, value in properties.monitoredResource.labels.items() %}
      "{{key}}": "{{value}}",
      {%- endfor %}
    }
    {%- endif %}
  }
  {%- endif %}
  {%- endif %}
  {{- macros.format_dependencies(resource) | indent(2) }}
}
{%- set project_value = properties['project'] if 'project' in properties else get_project_id %}
{%- set DISPLAY_NAME = properties.get('displayName') %}
#tfimport-PROJECT_ID="{{ project_value }}"
#tfimport-FILE="${PROJECT_ID}_monitoring_uptime_check_config.json"
#tfimport-DISPLAY_NAME="{{ DISPLAY_NAME }}"
#tfimport-if [[ ! -f "${FILE}" ]]; then gcloud monitoring uptime list-configs --project="${PROJECT_ID}" --format="json(displayName,name)" > "${FILE}"; fi
#tfimport-ID=$(cat "${FILE}" | jq -r --arg display_name "${DISPLAY_NAME}" '.[] | select(.displayName == $display_name) | .name' )
#tfimport-terraform import google_monitoring_uptime_check_config.{{ macros.get_name(resource, properties) }} ${ID}

{# 

{%- set project_value = properties.get('project', get_project_id) %}
{%- set trigger_name = properties.get('name', resource.get('name', '__name__')) %}
#tfimport-terraform import google_monitoring_uptime_check_config.{{ macros.get_name(resource, properties) }}  {{ project_value }}/{{ resource_name }} #}
