{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
#tfimport-terraform import google_storage_default_object_access_control.{{ macros.get_name(resource, properties) }}  {{ properties['bucket'] }}/{{ properties['entity'] }}
resource "google_storage_default_object_access_control" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.write_provider() }}
  {{- macros.fields(properties, {
    'bucket': 'bucket',
    'entity': 'entity',
    'role': 'role',
    'object': 'object',
  }, ' ' * 2) }}

  {{- macros.dict(properties, {
    'projectTeam': {
      'dict_name': 'project_team',
      'projectNumber': 'project_number',
      'team': 'team'
    }
  }) | indent(2) }}
}
