{%- import 'tf_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
resource "google_service_account" "{{ macros.get_name(resource, properties) }}" {
  {{- macros.write_provider() }}
  {{- macros.fields(properties, {
    'accountId': 'account_id',
    'displayName': 'display_name',
    'description': 'description',
    'disabled': 'disabled',
    'createIgnoreAlreadyExists': 'create_ignore_already_exists',
  }, ' ' * 2) }}
  {%- if 'name' in properties %}
  {%- set segments = properties['name'].split('/') %}
  {%- set project_value = segments[1] %}
  project = "{{ project_value }}"
  {%- else %}
  {%- set project_value = properties['projectId'] %}
  {%- set project_value = macros.hydrate_ref(project_value) %}
  {{- macros.fields(properties, {
    'projectId': 'project'
  }, ' ' * 2) }}
  {%- endif %}
  {{- macros.format_dependencies(resource) | indent(2) }}
}
{%- set project_value = macros.import_project(project_value) %}
#tfimport-terraform import google_service_account.{{ macros.get_name(resource, properties) }}  projects/{{ project_value }}/serviceAccounts/{{ properties['accountId'] }}@{{ project_value }}.iam.gserviceaccount.com
