{%- import 'action_macros.jinja' as macros %}
{%- set properties = resource.get('properties', {}) -%}
{%- set resource_name = resource.get('name') -%}
- name: {{ resource_name }}
  type: gcp-types/pubsub-v1:projects.subscriptions
  properties:
  {%- if 'name' in properties %}
    {%- set parts = properties['name'].split('/') %}
    {%- if parts | length == 4 and parts[0] == 'projects' and parts[2] == 'subscriptions' %}
    subscription: {{ parts[-1] }}
    {%- endif %}
  {%- endif %}
{{- macros.fields(properties, {
  'topic': 'topic',
  'pushConfig': 'pushConfig',
  'ackDeadlineSeconds': 'ackDeadlineSeconds',
  'retainAckedMessages': 'retainAckedMessages',
  'messageRetentionDuration': 'messageRetentionDuration',
  'labels': 'labels',
  'enableMessageOrdering': 'enableMessageOrdering',
  'expirationPolicy': 'expirationPolicy',
  'filter': 'filter',
  'deadLetterPolicy': 'deadLetterPolicy',
  'retryPolicy': 'retryPolicy',
  'detached': 'detached',
  }, ' ' * 4) -}}
  {{- macros.fields(resource, {
    'metadata': 'metadata'
  }, ' ' * 2) -}}
